*
{
    margin: 0px;
    box-sizing: border-box; 
    transition: 5s;
}


header
{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;

}

#LogoHeader
{
    width: 5vw;
    transition: 3s;

}

#divPesquisa
{
    background-color: #F5F5F5;
    border-radius: 40px;
    border: 0px;
    outline: 0px;
    width: 3vw;
    height: 3vw;
    padding: 5px 10px;
    position: relative;
}

#contentPesquisa
{
    position: absolute;
    right: 5%;
}

#divPesquisa img 
{
    height: auto;
    z-index: 99;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    transition: 0.5s;

}

#divPesquisa input
{
    display: none;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    border-radius: 40px;
    border: 0px;
    outline: 0px
    
}

#SubHeader
{
    border-bottom: 1px black solid;
    padding-bottom: 2vh;
    display: flex;

}

#btnOpcoes
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height: 4vh;
    border-radius: 5px;
    background-color: #CECECE;
    margin-left: 3vw;
}

.Circulo
{
    background-color: black;
    border-radius: 70%;
    width: 1vw;
    height: 1vw;
    margin-top: 3px;
}

#ContentClasses
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-left: 5vw;
}

.Classes
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Classes:hover
{
    border-bottom: 1px solid red;
}

#Content
{
    padding: 10px;
}

#Content h2
{
    font-size: 30px;
    margin-top: 2vh;
}

.Categoria
{
    margin-bottom: 2vh;
}

.Produto
{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    font-size: 20px;
    margin-top: 2vh;
}

.Descricao
{
    padding: 5px 35px;
}

@media screen and (max-width: 768px) {
    

header
{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;

}

#LogoHeader
{
    width: 18vw;
    transition: 3s;

}

#divPesquisa
{
    background-color: #F5F5F5;
    border-radius: 40px;
    border: 0px;
    outline: 0px;
    width: 10vw;
    height: 10vw;
    padding: 5px 10px;
    position: relative;
}

#contentPesquisa
{
    position: absolute;
    right: 5%;
}

#divPesquisa img 
{
    height: auto;
    z-index: 99;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    transition: 0.5s;

}

#divPesquisa input
{
    display: none;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    border-radius: 40px;
    border: 0px;
    outline: 0px
    
}

#SubHeader
{
    border-bottom: 1px black solid;
    padding-bottom: 2vh;
    display: flex;

}

#btnOpcoes
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height: 4vh;
    border-radius: 5px;
    background-color: #CECECE;
    margin-left: 3vw;
}

.Circulo
{
    background-color: black;
    border-radius: 70%;
    width: 1vw;
    height: 1vw;
    margin-top: 3px;
}

#ContentClasses
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-left: 1vw;
     overflow-x: auto;   /* ativa scroll horizontal */
    white-space: nowrap;
}

.Classes
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 4vw;
}

.Classes:hover
{
    border-bottom: 1px solid red;
}


#Content
{
    padding: 10px;
}

#Content h2
{
    font-size: 30px;
    margin-top: 2vh;
    color:#FF0000;
}

.Categoria
{
    margin-bottom: 2vh;
}




.Produto
{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    font-size: 20px;
    margin-top: 2vh;
}

.Descricao
{
    padding: 5px 35px;
}



}

footer
{
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 8vw;
    background-color: #000;
}

#FooterImg
{
    background-image: url(img/LogoPireco.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6vw 6vw;
}